{% extends 'ProjectCarRentBundle::bars.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 10})}}"><img src="{{asset('bundles/projectcarrent/images/chevroletaveo.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 10})}}">Chevrolet Aveo</a></h2>
				<h6>sedan, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 12})}}"><img src="{{asset('bundles/projectcarrent/images/citroencelysee.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 12})}}">Citroen C-elysee</a></h2>
				<h6>sedan, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 19})}}"><img src="{{asset('bundles/projectcarrent/images/peugeot301.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 19})}}">Peugeot 301</a></h2>
				<h6>sedan, diesel<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 75 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
	</div>
{% endblock %}