{% extends 'ProjectCarRentBundle::bars.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar" class="col-sm-12 col-lg-3">
				<a href="{{path('project_car_rent_car', {car: 5})}}"><img src="{{asset('bundles/projectcarrent/images/toyotaaygoautomat.jpg')}}" class="thumbnail"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-6">
				<h2><a href="{{path('project_car_rent_car', {car: 5})}}">Toyota Aygo Automat</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">automatyczna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-3">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 60 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar" class="col-sm-12 col-lg-3">
				<a href="{{path('project_car_rent_car', {car: 7})}}"><img src="{{asset('bundles/projectcarrent/images/volkswagenupautomat.jpg')}}" class="thumbnail"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-6">
				<h2><a href="{{path('project_car_rent_car', {car: 7})}}">Volkswagen UP Automat</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">automatyczna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-3">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 67 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar" class="col-sm-12 col-lg-3">
				<a href="{{path('project_car_rent_car', {car: 17})}}"><img src="{{asset('bundles/projectcarrent/images/nissanmicraautomat.jpg')}}" class="thumbnail"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-6">
				<h2><a href="{{path('project_car_rent_car', {car: 17})}}">Nissan Micra Automat</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">automatyczna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-3">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 75 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar" class="col-sm-12 col-lg-3">
				<a href="{{path('project_car_rent_car', {car: 18})}}"><img src="{{asset('bundles/projectcarrent/images/fiatpuntoautomat.jpg')}}" class="thumbnail"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-6">
				<h2><a href="{{path('project_car_rent_car', {car: 18})}}">Fiat Punto Automat</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">automatyczna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-3">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 75 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
	</div>
{% endblock %}