{% extends 'ProjectCarRentBundle::bars.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 2})}}"><img src="{{asset('bundles/projectcarrent/images/fiatpanda.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 2})}}">Fiat Panda</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 55 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 3})}}"><img src="{{asset('bundles/projectcarrent/images/chevroletspark.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 3})}}">Chevrolet Spark</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 60 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 5})}}"><img src="{{asset('bundles/projectcarrent/images/toyotaaygoautomat.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 5})}}">Toyota Aygo Automat</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">automatyczna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 60 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 6})}}"><img src="{{asset('bundles/projectcarrent/images/fiat500.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 6})}}">Fiat 500</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">2/3</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 65 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 7})}}"><img src="{{asset('bundles/projectcarrent/images/volkswagenupautomat.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 7})}}">Volkswagen UP Automat</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">automatyczna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 67 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 8})}}"><img src="{{asset('bundles/projectcarrent/images/nissanmicra.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 8})}}">Nissan Micra</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 69 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 10})}}"><img src="{{asset('bundles/projectcarrent/images/chevroletaveo.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 10})}}">Chevrolet Aveo</a></h2>
				<h6>sedan, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 11})}}"><img src="{{asset('bundles/projectcarrent/images/chevroletaveodiesel.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 11})}}">Chevrolet Aveo Diesel</a></h2>
				<h6>hatchback, diesel<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 12})}}"><img src="{{asset('bundles/projectcarrent/images/citroencelysee.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 12})}}">Citroen C-elysee</a></h2>
				<h6>sedan, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 13})}}"><img src="{{asset('bundles/projectcarrent/images/citroenc3.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 13})}}">Citroen C3</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 14})}}"><img src="{{asset('bundles/projectcarrent/images/renaultclio.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 14})}}">Renault Clio</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 15})}}"><img src="{{asset('bundles/projectcarrent/images/peugeot208.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 15})}}">Peugeot 208</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 16})}}"><img src="{{asset('bundles/projectcarrent/images/fordfiesta.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 16})}}">Ford Fiesta</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 73 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 18})}}"><img src="{{asset('bundles/projectcarrent/images/fiatpuntoautomat.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 18})}}">Fiat Punto Automat</a></h2>
				<h6>hatchback, benzyna<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">automatyczna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 75 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
		<div class="row col-xs-12 col-md-12">
			<div id="imgbar">
				<a href="{{path('project_car_rent_car', {car: 19})}}"><img src="{{asset('bundles/projectcarrent/images/peugeot301.jpg')}}" class="thumbnail col-sm-12 col-lg-2"></a>
			</div>
			<div id="charbar" class="col-sm-12 col-lg-5">
				<h2><a href="{{path('project_car_rent_car', {car: 19})}}">Peugeot 301</a></h2>
				<h6>sedan, diesel<h6>
				<table class="table table-hover">
					<tr class="info">
						<td><span class="glyphicon glyphicon-user">4-5</span></td>
						<td><span class="glyphicon glyphicon-cog">manualna</span></td>
						<td><span class="glyphicon glyphicon-cloud">klimatyzacja</span></td>
						<td><span class="glyphicon glyphicon-modal-window">4/5</span></td>
					</tr>
				</table>
			</div>
			<div id="pricebar" class="col-sm-12 col-lg-2">
				<span class="label label-success col-md-12 col-xs-6"><h1>od 75 zl</h1></span>
				<span class="label label-success col-md-12 col-xs-6"><h4>doba/netto</h4></span>
			</div>
		</div>
	</div>
{% endblock %}